*, *:before, *:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}

* {
  font-family: 'Fredoka One', cursive;
  user-select: none;
}

*:focus {
  outline: none;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 0px #fff;
  }
  to {
    text-shadow: 0 0 5px #88DFFF, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 60px #228DFF;
  }
}
